---
layout: workshop
root: .
venue: Universidade Federal de Santa Catarina 
address: Auditório do BEG, CCB. Entrada para o campus fica na esquina entre a Rua Professor Lauro Caldeira de Andrara e a Rua João Pio Duarte Silva - entrada do bairro Córrego Grande). Nos prédios do CCB (MIP), procure o segundo bloco, andar térreo, corredor da direita, última sala do corredor.
country: Brasil
latlng: -27.59803,-48.51514
humandate: Dez 11-12, 2014
humantime: 8:00 am - 5:30 pm
startdate: 2014-12-11
enddate: 2014-12-12
instructor: ["Diego Barneche", "Raniere Silva"]
helper: [""]
contact: diego.barneche@mq.edu.au
etherpad: https://etherpad.mozilla.org/SWC-UFSC
---
<!--
  Edit the values in the block above to be appropriate for your
  workshop.  Run 'tools/check' *before* committing to make sure that
  changes are good.
-->

<!--
  This block includes the Eventbrite registration widget if
  'eventbrite' has been set in the header.  You can delete it if you
  are not using Eventbrite, or leave it in, since it will not be
  displayed if the 'eventbrite' field in the header is not set.
-->
{% if page.eventbrite %}
<iframe
  src="//www.eventbrite.com/tickets-external?eid={{page.eventbrite}}&ref=etckt"
  frameborder="0"
  width="100%"
  height="206px"
  scrolling="auto">
</iframe>
{% endif %}

<h2>Informações gerais</h2>

<!--
  Edit the general explanatory paragraph below if you want to change
  the pitch.
-->
<p>
  Este curso intensivo de 2 dias do <a href="{{site.swc_site}}">Software Carpentry</a> vai introduzir aos participantes uma variedade de habilidades de computação que visam torná-los mais produtivos e eficientes em seu trabalho. Boa parte do foco lidará com aprimoramentos de escrita de programação usando a linguagem R como exemplo, mas também incluirá tópicos como Unix Shell, controle de versão em git e reproducibilidade. O curso não está projetado para ensinar os alunos a calcular as estatísticas específicas em R (embora alguns exemplos básicos serão cobertos). O conteúdo está focado em conceitos amplos de programação que podem ser adotados em diferentes ambientes. Espera-se que os participantes ajudem uns aos outros, e que apliquem o que aprenderam com seus próprios problemas de pesquisa durante e entre as sessões.
</p>

<!--
  Explain who your audience is.  (In particular, tell readers if the
  workshop is only open to people from a particular institution.
-->
<p>
  <strong>Quem:</strong>
    Este curso foi estruturado para alunos de pós-graduação e pesquisadores das Ciências a Vida. Note, por favor, que este curso não é um curso introdutório de R; o participante precisará de um conhecimento básico da linguagem R para que possa aproveitar ao máximo o conteúdo do curso. Entretanto, por favor não deixe que isso o assunte - se você gostaria de participar mas nunca utilizou R antes, você poderá, antes do curso, estudar o material do curso introdutório NiceR Code que está disponível online: <a href="http://nicercode.github.io/modules/#introduction-to-r-macquarie-university-2013">'Day 1' of the NiceR code 'Introduction to R'</a>. Esse deve deixá-lo pronto para o nosso curso!
</p>

<!--
  This block displays the address and links to maps showing directions
  if the latitude and longitude of the workshop have been set.  You
  can use http://itouchmap.com/latlong.html to find the lat/long of an
  address.
-->
{% if page.latlng %}
<p>
  <strong>Onde:</strong>
  {{page.address}}.
  Localização detalhada em:  
  <a href="//www.openstreetmap.org/?mlat={{page.latlng | replace:',','&mlon='}}&zoom=16">OpenStreetMap</a>
  ou
  <a href="//maps.google.com/maps?q={{page.latlng}}">Google Maps</a>.
</p>
{% endif %}

<!--
  Modify the block below if there are any special requirements.
-->
<p>
  <strong>Pré-requisitos:</strong> TODOS os participantes deverão trazer 
  consigo um laptop com uma série de programas e pacotes já instalados (listados
  <a href="#setup">abaixo</a>). Esses são necessários para conformar com o 
  <a href="{{site.swc_site}}/conduct.html">Código de Conduta</a>
  do Software Carpentry.
</p>

<!--
  Display the contact email address set in the header.  If an address
  isn't set in the header, the Software Carpentry admin address is
  used.
-->
<p>
  <strong>Contato</strong>:
  Por favor envie um email para
  {% if page.contact %}
    <a href='mailto:{{page.contact}}'>{{page.contact}}</a>
  {% else %}
    <a href='mailto:{{site.contact}}'>{{site.contact}}</a>
  {% endif %}
  para mais informações.
</p>

<hr/>

<!--
  Show the workshop's schedule.  Edit the items and times in the table
  to match your plans.  You may also want to change 'Day 1' and 'Day
  2' to be actual dates or days of the week.
-->
<h2>Cronograma</h2>

<div class="row-fluid">
  <div class="span6">
    <h3>Dia 1</h3>
    <table class="table table-striped">
      <tr> <td>08:00 - 09:15</td> <td>Introdução + Rstudio</td> </tr>
      <tr> <td>09:15 - 9:30</td> <td><em>Intervalo</em></td> </tr>
      <tr> <td>09:30 - 12:00</td> <td>Funções em R</td> </tr>
      <tr> <td><em>12:00 - 13:00</em></td> <td><em>Intervalo de almoço</em></td> </tr>
      <tr> <td>13:00 - 14:00</td> <td>Organização de projetos</td> </tr>
      <tr> <td>14:00 - 15:15</td> <td>Estrutura de controle</td> </tr>
      <tr> <td><em>15:15 - 15:30</em></td> <td><em>Intervalo</em></td> </tr>
      <tr> <td>15:30 - 17:00</td> <td>Repetindo padrões (plyr)</td> </tr>
      <tr> <td>17:00 - 17:30</td> <td>Discussão</td> </tr>
    </table>
  </div>
  <div class="span6">
    <h3>Dia 2</h3>
    <table class="table table-striped">
      <tr> <td>08:00 - 9:30</td> <td>Teste de funções</td> </tr>
      <tr> <td>09:30 - 9:45</td> <td><em>Intervalo</em></td> </tr>
      <tr> <td>09:45 - 12:00</td> <td>Programando em Unix Shell (básico)</td> </tr>
      <tr> <td><em>12:00 - 13:00</em></td> <td><em>Intervalo de almoço</em></td> </tr>
      <tr> <td>13:00 - 15:00</td> <td>Controle de versão com git</td> </tr>
      <tr> <td><em>15:00 - 15:15</em></td> <td><em>Intervalo</em></td> </tr>
      <tr> <td>15:15 - 16:00</td> <td>Exercícios com GitHub</td> </tr>
      <tr> <td>16:00 - 17:00</td> <td>Reproducibilidade com <em>knitr</em></td> </tr>
      <tr> <td>17:00 - 17:30</td> <td>Encerramento</td> </tr>
    </table>
  </div>
</div>

<!--
  Display the Etherpad for the workshop.  You will probably set this
  up on the first day, so make sure you push changes to GitHub after
  you have its URL.  To create an Etherpad, go to

      http://etherpad.mozilla.org/YYYY-MM-DD-site

  where 'YYYY-MM-DD-site' is the identifier for your workshop (e.g.,
  '2015-06-10-esu'.
-->
{% if page.etherpad %}
<p>
  <strong>Etherpad:</strong> <a href="{{page.etherpad}}">{{page.etherpad}}</a>.
  <br/>
  Nós utilizaremos este bloco do Etherpad para conversas, notas, compartilhamentos de URLs e código.
</p>
{% endif %}

<hr/>

<!--
  Show what topics will be covered.

  1. If your workshop is R rather than Python, remove the comment
     around that section and put a comment around the Python section.
  2. Some workshops will delete SQL.
  3. Please make sure the list of topics is synchronized with what you
     intend to teach.
  4. You may need to move the div's with class="span6" around inside
     the div's with class="row-fluid" to balance the multi-column layout.

  This is one of the places where people frequently make mistakes, so
  please preview your site before committing, and make sure to run
  'tools/check' as well.
-->
<h2>Conteúdo específico</h2>

<div class="row-fluid">
  <div class="span6">
    <h3>Programando em R</h3>
    <ul>
      <li>Estrutura básica da linguagem R</li>
      <li>Criando e utilizando funções</li>
      <li>Lendo tabelas</li>
      <li>Usando funções para modelos lineares e visualização de dados</li>
      <li>Rotinas circulares e condicionais</li>
      <li>Otimizando rotinas circulares usando funções</li>
      <li>Testando funções</li>
      <li>Reproducibilidade científica em relatórios e manuscritos</li>
    </ul>
  </div>
  <!-- 
      <li><a href="{{site.swc_lessons}}/ref/06-R.html">Reference...</a></li>
  -->
</div>

<div class="row-fluid">
    <div class="span6">
    <h3>Unix Shell</h3>
    <ul>
      <li>Arquivos e diretórios</li>
      <li>Histórico e <em>tab completion</em></li>
      <li>Encontrando coisas</li>
      <li><a href="{{site.swc_lessons}}/ref/01-Shell.html">Página de referência...</a></li>
    </ul>
  </div>
  <div class="span6">
    <h3>Controle de Versão com git</h3>
    <ul>
      <li>Criando um repositório</li>
      <li>Registrando mudanças de arquivos: <code>add</code>, <code>commit</code>, ...</li>
      <li>Visualizando mudanças: <code>status</code>, <code>diff</code>, ...</li>
      <li>Ignorando arquivos</li>
      <li>Trabalhando online: <code>clone</code>, <code>pull</code>, <code>push</code>, ...</li>
      <li>Resolvendo conflitos</li>
      <li>Onde arquivar seu trabalho e por quê</li>
      <li><a href="{{site.swc_lessons}}/ref/02-git.html">Página de referência...</a></li>
    </ul>
  </div>
</div>

<hr/>

<!--
  Delete irrelevant sections from the setup instructions.  Each
  section is inside a 'div' without any classes to make the beginning
  and end easier to find.

  This is the other place where people frequently make mistakes, so
  please preview your site before committing, and make sure to run
  'tools/check' as well.
-->

<h2 id="setup">Configurações/pré-requisitos</h2>

<div> <!-- Start of 'editor' section. -->
  <h3>Editor de Texto</h3>

  <p>
    Quando você está escrevendo código, é bom ter um editor de texto que é 
    otimizado para escrever código, com características como destaque de cores 
    automático para palavras-chave. O editor de texto padrão no Mac OS X e 
    Linux é geralmente o Vim, que não é considerado muito intuitivo. Se você 
    encontrar-se preso acidentalmente nele, tente digitar a tecla "Esc", 
    seguido por ':q!' (dois pontos, 'q' minúsculo e ponto de exclamação),
    em seguida, apertando Enter (ou retorno) para voltar para o Shell.
  </p>

  <div class="row-fluid">
    <div class="span4">
      <h4>Windows</h4>
      <p>
	<code>nano</code> é o editor instalado pelo Software
	Carpentry Installer, é um editor básico integrado às lições.
      </p>
      <p>
	<a href="http://notepad-plus-plus.org/">Notepad++</a> é um editor de código popular
  e gratuito para Windows. Esteja ciente de que você deve adicionar seu diretório de 
  instalação para o diretório de programas do sistema, a fim de iniciá-lo na linha de
  comando (ou para que outras ferramentas como git possa iniciá-lo para você). 
  Por favor, pergunte ao seu instrutor como fazer isso caso necessário.
      </p>
    </div>
    <div class="span4">
      <h4>Mac OS X</h4>
      <p>
	Recomendamos
	<a href="http://www.barebones.com/products/textwrangler/">Text Wrangler</a> ou
	<a href="http://www.sublimetext.com/">Sublime Text</a>.
	Rapidamente, você pode também utilizar <code>nano</code>,
	o qual deve estar pré-instalado na sua máquina.
      </p>
    </div>
    <div class="span4">
      <h4>Linux</h4>
      <p>
	<a href="http://kate-editor.org/">Kate</a> é uma opção para
	usuários de Linux. Assim como em Mac OS X, você pode também utilizar <code>nano</code>,
  o qual deve estar pré-instalado na sua máquina.
      </p>
    </div>
  </div>
</div> <!-- End of 'editor' section. -->

<div> <!-- Start of 'Shell' section. -->
  <h3>Bash Shell</h3>

  <p>
    Bash é um tipo de linguagem Shell de uso comum que lhe dá o poder de 
    fazer tarefas simples mais rapidamente.
  </p>

  <div class="row-fluid">
    <div class="span4">
      <h4>Windows</h4>
      <p>
	Instale git para Windows baixando e rodando
	<a href="http://msysgit.github.io/">o instalador</a>.
	Este software fornecerá tanto git como Bash através do programa Git Bash.
      </p>
      <h4>Instalador do Software Carpentry</h4>
      <p><em>Este instalador necessita uma conexão ativa à internet.</em></p>
      <p>Após instalar R e Git Bash:</p>
      <ul>
	<li>
          Baixe o <a href="{{site.swc_installer}}">instalador</a>.
	</li>
	<li>
        Se o arquivo abrir diretamente no navegador 
        selecione <strong>Arquivo&rarr;Salvar como</strong> para baixá-lo
        para seu computador.
	</li>
	<li>
          Dê dois cliques no arquivo para rodar.
	</li>
      </ul>
    </div>
    <div class="span4">
      <h4>Mac OS X</h4>
      <p>
	O tipo de Shell padrão em todas versões do Mac OS X é o Bash, 
  portanto não há necessidade de instalar nada. Você pode acessar
  o Bash diretamente do seu Terminal (encontrado em
	<code>/Applicativos/Utilidades</code>). Para sua conveniência, 
  recomendamos que você mantenha seu Terminal disponível no dock
  durante o workshop.
      </p>
    </div>
    <div class="span4">
      <h4>Linux</h4>
      <p>
	O tipo de Shell padrão é geralmente <code>Bash</code>, mas se sua
	máquina é configurada diferentemente, você poderá rodar Bash abrindo seu
	Terminal e digitando <code>Bash</code>. Não há, portanto, necessidade
  de instalar nada.
      </p>
    </div>
  </div>
<div> <!-- End of 'Shell' section. -->  

<div> <!-- Start of 'Git' section. -->
  <h3>Git</h3>

  <p>
    git é um sistema de controle de versão de sistemas que o permite
    rastrear quem, o que e quando mudanças foram feitas em arquivos
    e possui opções que facilitam a atualização de uma versão compartilhada
    ou pública do seu código
    em <a href="https://github.com/">github.com</a>.
  </p>

  <div class="row-fluid">
    <div class="span4">
      <h4>Windows</h4>
      <p>
	git deve ser instalado no seu computador como parte da sua instalação 
  de Bash descrita acima.
      </p>
    </div>
    <div class="span4">
      <h4>Mac OS X</h4>
      <p>
	<strong>Para OS X 10.8 e mais recentes</strong>, instale git para Mac
	baixando e rodando
	<a href="http://git-scm.com/downloads">o instalador</a>.
	<strong>Para versões mais antigas de OS X (10.5-10.7)</strong> use o
	instalador disponível mais recente para o seu
	OS <a href="https://code.google.com/p/git-osx-installer/downloads/list">disponível
	  aqui</a>. Use o instalador do Leopard para 10.5 e o instalador para Snow
	Leopard para 10.6-10.7.
      </p>
    </div>
    <div class="span4">
      <h4>Linux</h4>
      <p>
	Se git já não estiver disponível na sua máquina você pode tentar instalá-lo
	via o seu "distro's package manager". Para Debian/Ubuntu rode
        <code>sudo apt-get install git</code> e para Fedora rode
        <code>sudo yum install git</code>.
      </p>
    </div>
  </div>
</div> <!-- End of 'Git' section. -->

<div> <!-- Start of 'R' section. -->
  <h3>R</h3>

  <p>
    <a href="http://www.r-project.org">R</a> é uma linguagem de programação
    que é particularmente poderosa para exploração de dados, visualização, e
    análises estatísticas. Para interagir com R, nós utilizaremos o
    <a href="http://www.rstudio.com/">RStudio</a>.
  </p>

  <div class="row-fluid">
    <div class="span4">
      <h4>Windows</h4>
      <p>
	Instale R baixando e rodando
	<a href="http://cran.r-project.org/bin/windows/base/release.htm">este arquivo .exe</a>
	disponível no <a href="http://cran.r-project.org/index.html">CRAN</a>.
	Além disso, por favor instale o
	<a href="http://www.rstudio.com/ide/download/desktop">RStudio IDE</a>.
      </p>
    </div>
    <div class="span4">
      <h4>Mac OS X</h4>
      <p>
	Instale o R baixando e rodando
	<a href="http://cran.r-project.org/bin/macosx/R-latest.pkg">este arquivo .pkg</a>
	disponível no <a href="http://cran.r-project.org/index.html">CRAN</a>.
	Além disso, por favor instale o
	<a href="http://www.rstudio.com/ide/download/desktop">RStudio IDE</a>.
      </p>
    </div>
    <div class="span4">
      <h4>Linux</h4>
      <p>
	Você pode baixar os arquivos binários para sua distribuição particular
	em <a href="http://cran.r-project.org/index.html">CRAN</a>. Ou
	você pode utilizar seu "package manager" (e.g. para Debian/Ubuntu
	rode <code>sudo apt-get install r-base</code> e para Fedora rode
        <code>sudo yum install R</code>). Além disso, por favor instale o
	<a href="http://www.rstudio.com/ide/download/desktop">RStudio IDE</a>.
      </p>
    </div>
  </div>
</div> <!-- End of 'R' section. -->
